<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.kh.ecolog.admin.challengeManage.model.dao.ChallengeManageMapper">

 <!-- 1. 전체 조회 -->
	<select id="selectAllChallenges" resultType="com.kh.ecolog.admin.challengeManage.model.dto.ChallengeManageDTO">
	  SELECT 
	    C.CHALLENGE_SEQ,
	    C.CHALLENGE_TITLE,
	    U.USER_NAME,
	    C.CHALLENGE_STATUS
	  FROM TB_CHALLENGE C
	  LEFT JOIN TB_USER U ON C.USER_ID = U.USER_ID
	  ORDER BY C.CHALLENGE_SEQ DESC
	</select>
	
  <!-- 2. 상세 조회 -->
  <select id="selectChallengeDetail" resultType="com.kh.ecolog.admin.challengeManage.model.dto.ChallengeManageDTO">
   SELECT
    C.CHALLENGE_SEQ,
    C.CHALLENGE_TITLE,
    C.CHALLENGE_CONTENT,
    C.USER_ID,
    U.USER_NAME,
    C.CHALLENGE_STATUS,
    P.MILEAGE_REWARDED,
    P.REWARDED_DATE,
    P.PARTICIPATION_SEQ,
    P.REJECT_REASON
  FROM TB_CHALLENGE C
  LEFT JOIN TB_USER U ON C.USER_ID = U.USER_ID
  LEFT JOIN TB_CHALLENGE_PARTICIPATION P ON C.CHALLENGE_SEQ = P.CHALLENGE_SEQ
  WHERE C.CHALLENGE_SEQ = #{challengeSeq}
  </select>


  <!-- 3. 참여 상태 업데이트 (승인) -->
  <update id="approveChallenge">
    UPDATE
    	TB_CHALLEGE
    SET CHALLENGE_STATUS = 'Y'
      WHERE CHALLENGE_SEQ = #{challengeSeq}
  </update>


  <!-- 4. 마일리지 지급 내역 삽입  마일리지 테이블에 업데이트 하는걸로 바꿔야ㅐ함 --> 
  <insert id="insertMileageRecord">
    INSERT INTO TB_MILEAGE(USER_ID, MILEAGE_TYPE, MILEAGE_AMOUNT, MILEAGE_DATE)
  SELECT C.USER_ID, '챌린지', P.MILEAGE_REWARDED, SYSDATE
  FROM TB_CHALLENGE C
  JOIN TB_CHALLENGE_PARTICIPATION P ON C.CHALLENGE_SEQ = P.CHALLENGE_SEQ
  WHERE C.CHALLENGE_SEQ = #{challengeSeq}
  </insert>


  <!-- 5. 반려 처리 -->
  <update id="rejectChallenge">
      UPDATE TB_CHALLENGE
  SET CHALLENGE_STATUS = 'R'
  WHERE CHALLENGE_SEQ = #{challengeSeq}
  </update>

  <!-- 6. 반려 사유 업데이트 -->
	<update id="updateRejectReason">
	  UPDATE
	  	TB_CHALLENGE
	  SET
	  	REJECT_REASON = #{reason}
	  WHERE
	  	CHALLENGE_SEQ = #{challengeSeq}
	</update>



</mapper>
