<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.kh.ecolog.challenge.model.dao.ChallengeMapper">
	
	  <!-- 챌린지 목록 -->
	  <select id="findAllChallenge" resultType="ChallengeDTO">
	    SELECT 
	      c.CHALLENGE_SEQ AS challengeSeq,
	      c.CHALLENGE_TITLE AS challengeTitle,
	      c.CHALLENGE_CONTENT AS challengeContent,
	      c.CHALLENGE_STATUS AS challengeStatus,
	      c.USER_ID AS userId,
	      c.ENROLL_DATE AS enrollDate,
	      c.CHALLENGE_IMG AS challengeImg,
	      u.USER_NAME AS userName
	    FROM 
	      TB_CHALLENGE c
	     JOIN
	     	TB_USER u ON c.USER_ID = u.USER_ID
	    ORDER BY 
	      c.CHALLENGE_SEQ DESC
	  </select>
	
	  <!-- 챌린지 상세 -->
	  <select id="selectChallengeDetail" parameterType="long"
	          resultType="ChallengeDTO">
	    SELECT 
	      c.CHALLENGE_SEQ AS challengeSeq,
	      c.CHALLENGE_TITLE AS challengeTitle,
	      c.CHALLENGE_CONTENT AS challengeContent,
	      c.CHALLENGE_STATUS AS challengeStatus,
	      c.USER_ID AS userId,
	      c.ENROLL_DATE AS enrollDate,
	      c.CHALLENGE_IMG AS challengeImg,
	      u.USER_NAME AS userName
	    FROM 
	      TB_CHALLENGE c
	    JOIN
	      TB_USER u ON c.USER_ID = u.USER_ID
	    WHERE 
	      c.CHALLENGE_SEQ = #{challengeSeq}
	  </select>
	
	  <!-- 챌린지 등록 -->
	  <insert id="saveChallenge"
          parameterType="Challenge">
	    INSERT INTO 
	    	TB_CHALLENGE (
		      CHALLENGE_SEQ,
		      CHALLENGE_TITLE,
		      CHALLENGE_CONTENT,
		      ENROLL_DATE,
		      CHALLENGE_STATUS,
		      USER_ID,
		      CHALLENGE_IMG
		      )
		VALUES (
		      SEQ_CHALLENGE.NEXTVAL,
		      #{challengeTitle},
		      #{challengeContent},
		      SYSDATE,
		      #{challengeStatus},
		      #{userId},
		      #{challengeImg}
	    		)
	  </insert>
	  
	  <!-- 챌린지 삭제 -->
	  <delete id="deleteChallenge" parameterType="long">
	  DELETE
	  	FROM
	  		TB_CHALLENGE
	  WHERE
	  	CHALLENGE_SEQ = #{challengeSeq}
	  
	  </delete>
	  
	  
	  <!-- 	챌린지 수정 -->
	  <update id="updateChallenge" parameterType="ChallengeDTO">
	  UPDATE 
	  	TB_CHALLENGE
	  SET
	  	CHALLENGE_TITLE = #{challengeTitle},
	  	CHALLENGE_CONTENT = #{challengeContent},
	  	CHALLENGE_IMG = #{challengeImg}
	  
	  WHERE
	  	CHALLENGE_SEQ = #{challengeSeq} 
	  </update>
		  
	<!-- 챌린지 검색 -->
	<select id="searchChallenge" parameterType="map" resultType="ChallengeDTO">
	 
	  SELECT 
	    c.CHALLENGE_SEQ AS challengeSeq,
	    c.CHALLENGE_TITLE AS challengeTitle,
	    c.CHALLENGE_CONTENT AS challengeContent,
	    c.CHALLENGE_STATUS AS challengeStatus,
	    c.USER_ID AS userId,
	    c.ENROLL_DATE AS enrollDate,
	    c.CHALLENGE_IMG AS challengeImg,
	    u.USER_NAME AS userName
	  FROM 
	    TB_CHALLENGE c
	  JOIN
	    TB_USER u ON c.USER_ID = u.USER_ID
	  WHERE
	    c.CHALLENGE_TITLE LIKE '%' || #{keyword} || '%'
	  ORDER BY 
	    c.CHALLENGE_SEQ DESC
	</select>
	
	
	<!-- 검색 결과 개수 -->
	<select id="countSearch" parameterType="map" resultType="int">
	
	  SELECT
	  	COUNT(*)
	  FROM
	  	TB_CHALLENGE
	  WHERE
	  	CHALLENGE_TITLE LIKE '%' || #{keyword} || '%'
	  	
	</select>
	
	
	<!-- 전체 개수 -->
	<select id="countAll" resultType="int">
	
	  SELECT
	  	COUNT(*)
	  FROM
	  	TB_CHALLENGE
	
	</select>
	
	<!-- 글 작성자 확인용 -->
	<select id="findWriterIdByChallengeSeq" parameterType="long" resultType="long">
	  SELECT
	  	USER_ID
	  FROM
	  	TB_CHALLENGE
	  WHERE
	  	CHALLENGE_SEQ = #{challengeSeq}
	</select>



	
	
	</mapper>
	
	
	
	
	
	
	
	
	