<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ecolog.market.model.dao.MarketMapper">
	
	<sql id="marketColumns">
		MARKET_NO marketNo,
		USER_ID userId, 
		MARKET_TITLE marketTitle,
		MARKET_CONTENT marketContent, 
		MARKET_DATE marketDate,
		MARKET_STATUS marketStatus,
		MARKET_PRICE marketPrice
	</sql>
	<insert id="insertMarket" parameterType="com.kh.ecolog.market.model.dto.MarketDTO">
		INSERT INTO
			TB_MARKET 
					  (
						MARKET_NO
					  , USER_ID
					  , MARKET_TITLE
					  , MARKET_CONTENT
					  , MARKET_DATE
					  , MARKET_STATUS
					  , MARKET_PRICE
					  )
			   VALUES 
			   	     (
					   SEQ_MARKET_NO.NEXTVAL
					   ,
						#{userId}, 
						#{marketTitle},
						#{marketContent},
						#{marketDate},
						#{marketStatus},
						#{marketPrice}
		)
	</insert>
	
	<update id="updateMarket">
		UPDATE TB_MARKET
		SET MARKET_TITLE = #{marketTitle},
			MARKET_CONTENT = #{marketContent},
			MARKET_PRICE = #{marketPrice},
		WHERE MARKET_NO = #{marketNo}
	</update>
	
	<delete id="deletMarket">
		DELETE FROM TB_MARKET
		WHERE MARKET_NO = #{marketNo}
	</delete>
	
	<select id="findAllMarkets" resultType="com.kh.ecolog.market.model.dto.MarketDTO">
    	SELECT 
	        MARKET_NO,
	        USER_ID,
	        MARKET_TITLE,
	        MARKET_CONTENT,
	        MARKET_DATE,
	        MARKET_STATUS,
	        MARKET_PRICE
		    FROM TB_MARKET
		    ORDER BY MARKET_NO DESC
	</select>

</mapper>