<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.ecolog.admin.mileageManage.model.dao.MileageManageMapper">

	<!-- 관리자 권한 -->
	<select id="findAllMileage"
			resultType="com.kh.ecolog.mileage.model.dto.MileageDTO">
		SELECT
			  M.MILEAGE_SEQ mileageSeq
			, M.MILEAGE_CATEGORY mileageCategory
			, M.USER_ID userId
			, M.CREATE_DATE createDate
			, M.MILEAGE_STATUS mileageStatus
			, U.USER_NAME userName
		FROM
			TB_MILEAGE M
		JOIN
			TB_USER U ON M.USER_ID = U.USER_ID
		ORDER BY createDate DESC
	</select>
	
	<select id="detailMileage"
			parameterType="long"
			resultType="com.kh.ecolog.mileage.model.dto.MileageDTO">
		SELECT
			  M.USER_ID userId
			, M.MILEAGE_TITLE mileageTitle
			, M.MILEAGE_CONTENT mileageContent
			, M.MILEAGE_CATEGORY mileageCategory
			, M.MILEAGE_IMG mileageImg
			, M.MILEAGE_STATUS mileageStatus
			, M.CREATE_DATE createDate
			, U.USER_NAME userName
		FROM
			TB_MILEAGE M
		JOIN
			TB_USER U ON M.USER_ID = U.USER_ID
		WHERE
			M.MILEAGE_SEQ = #{mileageSeq}
	</select>
	
	<update id="updateMileageStatus"
			parameterType="com.kh.ecolog.mileage.model.dto.MileageDTO">
		UPDATE
			TB_MILEAGE
		SET 
			MILEAGE_STATUS = #{mileageStatus},
			MILEAGE_SCORE = #{mileageScore},
			APPROVE_DATE = SYSDATE
		WHERE 
			MILEAGE_SEQ = #{mileageSeq}
	</update>
	


</mapper>