<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.ecolog.notice.model.dao.NoticeMapper">
  
  	<insert id="save" parameterType="com.kh.ecolog.notice.model.vo.Notice">
	    INSERT INTO TB_NOTICE   (
							      NOTICE_ID,
							      NOTICE_TITLE,
							      NOTICE_CONTENT,
							      NOTICE_DATE,
							      USER_ID
	      						  )
	     			     VALUES (
							      SEQ_NOTICE.NEXTVAL,
							      #{noticeTitle},
							      #{noticeContent},
							      SYSDATE,
							      #{userId}
	  							  )
	  </insert>
  
  </mapper>