<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ecolog.promise.model.dao.PromiseMapper">
	
	<insert id="insert" 
			parameterType="com.kh.ecolog.promise.model.dto.PromiseDTO">
		INSERT 
		  INTO 
		       TB_PROMISE
		       (
				  USER_PROMISE_ID
				, USER_ID
				, USER_PROMISE
				, USER_PROMISE_DATE
			   )
		VALUES
			  (
				 PK_PROMISE_ID.NEXTVAL
			   , #{userId}
			   , #{userPromise}
			   , SYSDATE
			  )
	</insert>
	
	<update id="updateByUserId" 
			parameterType="com.kh.ecolog.promise.model.dto.PromiseDTO">
		UPDATE
		        TB_PROMISE
		   SET
		        USER_PROMISE = #{userPromise}
		      , USER_PROMISE_DATE = SYSDATE
		 WHERE
		        USER_ID = #{userId}
	</update>
	
	<select id="findByUserId" 
			resultType="com.kh.ecolog.promise.model.dto.PromiseDTO">
	    SELECT
	    	   USER_PROMISE_ID as userPromiseId
		     , USER_PROMISE as userPromise
		     , USER_PROMISE_DATE as userPromiseDate
		     , USER_ID as userId
	      FROM 
	           TB_PROMISE
	     WHERE 
	     	   USER_ID = #{userId}
	</select>
	
	
</mapper>