<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ecolog.qna.model.dao.QnaMapper">
	
	<insert id="insert" parameterType="Qna">
		INSERT
		  INTO
		       TB_QNA
		       (
				  QNA_ID
				, USER_ID
				, QNA_TITLE
				, QNA_CONTENT
				, QNA_DATE
			   )
		VALUES
		      (
				  PK_QNA_ID.NEXTVAL
				, #{userId}
				, #{qnaTitle}
				, #{qnaContent}
				, SYSDATE
			  )
	</insert>
	
	<update id="update" parameterType="Qna">
		UPDATE
		        TB_QNA
		   SET
		        QNA_TITLE = #{qnaTitle}
		      , QNA_CONTENT = #{qnaContent}
		      , QNA_DATE = SYSDATE
		 WHERE
		        QNA_ID = #{qnaId}
	</update>
	
	<delete id="deleteById" parameterType="long">
		DELETE
		  FROM
		       TB_QNA
		 WHERE
		       QNA_ID = #{qnaId}
	</delete>
	
	<select id="selectAll" resultType="QnaDTO">
		SELECT
			   QNA_ID as qnaId
			 , QNA_TITLE as qnaTitle
			 , QNA_DATE as qnaDate
			 , QNA_STATUS as qnaStatus
			 , USER_ID as userId
		 FROM
		       TB_QNA
		WHERE
			   USER_ID = #{userId}
		ORDER
		   BY
		       QNA_ID DESC
	</select>
	
	<select id="selectById" resultType="QnaDTO" parameterType="long">
		SELECT
		       QNA_ID as qnaId
		     , QNA_TITLE as qnaTitle
		     , QNA_CONTENT as qnaContent
		     , QNA_DATE as qnaDate
		     , QNA_STATUS as qnaStatus
		     , USER_ID as userId
		 from
		      TB_QNA
		WHERE
			  QNA_ID = #{qnaId}
	</select>
	
	
	<!-- 페이징처리를 위한 게시글 총 개수 count -->
	<select id="countAll" resultType="int">
		SELECT COUNT(*) 
		  FROM 
		       TB_QNA
		 WHERE
			   USER_ID = #{userId}
	</select>
	
	<!-- 검색 기능 -->
	<select id="searchQna" resultType="QnaDTO" parameterType="map">
	  SELECT 
		      QNA_ID as qnaId
		    , USER_ID as userId
		    , QNA_TITLE as qnaTitle
		    , QNA_CONTENT as qnaContent
		    , QNA_DATE as qnaDate
		    , QNA_STATUS as qnaStatus
	    FROM
	  	      TB_QNA
	   WHERE
			  USER_ID = #{userId}
	     AND
	   		  QNA_TITLE LIKE '%' || #{keyword} || '%'
	   ORDER 
	      BY  QNA_ID DESC
	</select>
	
	<select id="countSearch" resultType="int" parameterType="map">
	  SELECT COUNT(*)
	    FROM
	    	 TB_QNA
	   WHERE
			 USER_ID = #{userId}
		 AND
	  		 QNA_TITLE LIKE '%' || #{keyword} || '%'
	</select>

</mapper>