<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ecolog.admin.marketManage.model.dao.ReportManageMapper">
	<select id="findAllReports" resultType="com.kh.ecolog.admin.marketManage.model.dto.ReportManageDTO">
	  SELECT
	    mc.REPORT_ID reportId,
	    m.MARKET_NO marketNo,              
	    m.MARKET_TITLE marketTitle,
	    mc.REPORT_REASON reportReason,
	    mc.REPORT_DATE reportDate
	  FROM
	    TB_MARKET_CNT mc
	  JOIN
	    TB_MARKET m ON mc.MARKET_NO = m.MARKET_NO
	  ORDER BY mc.REPORT_DATE DESC
	</select>
	<select id="selectById" resultType="com.kh.ecolog.admin.marketManage.model.dto.ReportManageDTO">
	  SELECT 
	  R.REPORT_ID,
	  R.REPORT_REASON,
	  R.REPORT_DATE,
	  M.MARKET_NO,
	  M.MARKET_TITLE,
	  M.MARKET_CONTENT,
	  (SELECT COUNT(*) FROM TB_MARKET_CNT WHERE MARKET_NO = M.MARKET_NO) AS totalReportCount
	FROM TB_MARKET_CNT R
	JOIN TB_MARKET M ON R.MARKET_NO = M.MARKET_NO
	WHERE R.REPORT_ID = #{reportId}
	</select>
	
	 <update id="markReportAsHidden">
	  UPDATE TB_MARKET_CNT
	  SET IS_HIDDEN = 'Y'
	  WHERE REPORT_ID = #{reportId}
	 </update>

</mapper>